th, td {
  font-size: 11px;
  text-align: center;
}

/* th {
  position: sticky;
  top: 0;
} */

/* td:first-child {
  position: sticky;
  z-index: 1;
  left: 0;
} */

table {
  border-spacing: 40px;
}

