<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Test</title>
</head>
<body>
    <h1><a href="/">WEB</a></h1>
    <ol>
        <!-- <li><a href="/read/1/">html</a></li>
        <li><a href="/read/2/">css</a></li>
        <li><a href="/read/3/">js</a></li> -->
        {{ liTags | safe}}
    </ol>
    <h2>{{ title }}</h2>
    {{ body | safe }}
    <ui>
        <!-- <li style="list-style-type:none"><a href="/create/">Create</a></li> -->
    </ui>
</body>
</html>